.gradle/
build/
Forecast.txt
Future.txt
gradlew
gradlew.bat
.idea/
gradle/
config.properties
src/main/java/de.meyssam.saft.Private.java
src/main/java/de/meyssam/saft/de.meyssam.saft.Private.java
src/main/java/de/meyssam/saft/Private.java
/out/
